@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom base styles
 */
@layer base {
  html,
  body {
    @apply bg-white-100 font-sans;
    overscroll-behavior: none;
  }

  ::selection {
    @apply bg-brown-100 text-white-100;
  }

  /* Lenis */
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
}

/**
 * Custom component styles
 */
@layer components {
  /* Navigation hover effect */
  [data-nav]:has([data-active]) [data-menu-item]:not([data-active]) {
    opacity: 0.4;
  }

  [data-nav]:hover [data-menu-item]:not([data-active]):not(:hover) {
    opacity: 0.4 !important;
  }

  [data-nav]:hover [data-menu-item]:hover,
  [data-menu-item][data-active] {
    opacity: 1 !important;
  }

  body:not([data-animating]) [data-menu-item] {
    transition: opacity 0.3s ease;
  }
}

/**
 * Custom utility styles
 */
@layer utilities {
  .text-clip-fix {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
