@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-beige-50 font-sans text-black-100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overscroll-behavior: none;
  }

  ::selection {
    @apply bg-brown-100 text-white-100;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
}

@layer components {
  [data-nav]:has([data-active]) [data-menu-item]:not([data-active]) {
    opacity: 0.4;
  }

  [data-nav]:hover [data-menu-item]:not([data-active]):not(:hover) {
    opacity: 0.4 !important;
  }

  [data-nav]:hover [data-menu-item]:hover,
  [data-menu-item][data-active] {
    opacity: 1 !important;
  }

  [data-menu-item][data-active] {
    font-weight: 500;
  }

  body:not([data-animating]) [data-menu-item] {
    transition: opacity 0.3s ease;
  }
}

@layer utilities {
  .text-clip-fix {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
